<div class="about-area section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 info">
                <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div>
                        <div class="site-heading">
                            @*<p class="mb-3">About Us</p>*@
                            <h2 class="section-title">About Us</h2>
                        </div>
                        <div class="content">
                            <p>
                                Sairath Travels Has Been A Leading Car Rental And Tour & Travel Company in and around Chikhli, Gujarat Since 2010. We offer Airport pickup and drop, Local,Inter state Oneway- Two Way Car rental services.
                                Our Organization Is Committed To Providing Meticulous And Courteous Services for Cars and Tempo Traveller Booking In Chikhli, And Our Entire Staff Is Determined To Provide "Total Satisfaction" To All Esteemed Customers.
                            </p>
                            <p>
                                Sairath Travels provides online booking of <strong>Tempo Traveller</strong>,<strong> Tavera</strong>, and other Budget Cars 24 hours a day. We believe in long-term customer relationships. 
                                The well-planned educational and corporate packages include luxury, deluxe, up-scale, and mid-scale travel experiences.
                                Known for providing genuine hospitality and exceptional personalised services to guests.
                                Sairath Travels strives to provide customers with memorable experiences.
                            </p>
                            @*<a href="#" class="btn btn-common mt-3">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <img class="img-fluid" src="~/img/about/img-1.png" alt="">
            </div>
        </div>
    </div>
</div>