<section id="services" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Services</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Roundtrip Cabs</a></h3>
                        <p>Our premium roundtrip services will provide you with a luxurious ride from your door and return. </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Airport Transfers</a></h3>
                        <p>Our airport transfer services across the country provide dependable pickups and drops. 
                            Book ahead of time and relax; we'll handle the rest. </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Wedding AND SPECIAL EVENTS</a></h3>
                        <p>We offer a large selection of high-end, luxury vehicles for your wedding car rental service that best meet your needs.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-road" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Local Rentals</a></h3>
                        <p>Book one of our hourly rental cabs and be chauffeured around the city for business meetings or shopping. </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Group Booking</a></h3>
                        <p>If you want an exciting and comfortable trip or journey, a luxurious and comfortable tempo traveller is the way to go. </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
                    <div class="icon">
                        <i class="fa fa-om" aria-hidden="true"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Trip To Temple</a></h3>
                        <p>We have extensive expertise in providing custom solution for your visit to all the temples across India.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>