<section id="team" class="section-padding bg-gray">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Cars</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="~/img/team/team-01.png" alt="">
                    </div>
                    <div class="contetn">
                        <div class="info-text">
                            <h3><a href="#">Chevrolet Tavera</a></h3>
                            <p>Budget Car</p>
                        </div>
                        <p>Travelling with a group of 5-9 people and excess baggage, the Chevrolet Tavera SUV is the most convenient vehicle.</p>
                        <ul class="social-icons">
                            <li><i class="fa fa-user"></i> X 9</li>
                            <li><i class="fa fa-gas-pump"></i> Diesel</li>
                            <li><i class="fa fa-snowflake"></i> AC</li>
                        </ul>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
                    <div class="team-img">
                        <img class="img-fluid" src="~/img/team/team-02.png" alt="">
                    </div>
                    <div class="contetn">
                        <div class="info-text">
                            <h3><a href="#">Force Traveller</a></h3>
                            <p>Mini Bus</p>
                        </div>
                        <p>The Force Tempo Traveller is currently the most popular minibus on the road and a community favourite.</p>
                        <ul class="social-icons">
                             <li><i class="fa fa-user"></i> X 17</li>
                            <li><i class="fa fa-gas-pump"></i> Diesel</li>
                            <li><i class="fa fa-snowflake"></i> AC</li>
                        </ul>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="team-img">
                        <img class="img-fluid" src="~/img/team/team-03.png" alt="">
                    </div>
                    <div class="contetn">
                        <div class="info-text">
                            <h3><a href="#">Toyota Innova</a></h3>
                            <p>Luxury Car </p>
                        </div>
                        <p>Toyota Innova can comfortably seat a family of eight, a group of friends for a pleasant journey.</p>
                        <ul class="social-icons">
                            <li><i class="fa fa-user"></i> X 8</li>
                            <li><i class="fa fa-gas-pump"></i> Diesel</li>
                            <li><i class="fa fa-snowflake"></i> AC</li>
                        </ul>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                    <div class="team-img">
                        <img class="img-fluid" src="~/img/team/team-04.png" alt="">
                    </div>
                    <div class="contetn">
                        <div class="info-text">
                            <h3><a href="#">Your Choice</a></h3>
                            <p>Other Cars</p>
                        </div>
                        <p>With several car options you will not be left wanting for a car of your choice. Call us Today!</p>
                        <ul class="social-icons">
                            <li><i class="fa fa-user"></i> X Any</li>
                            <li><i class="fa fa-gas-pump"></i> Any</li>
                            <li><i class="fa fa-snowflake"></i> AC/Non-AC</li>
                        </ul>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
        </div>
    </div>
</section>